body{
    background-color: green;
 
}

img{
    width: 500px;
    height: auto;
}
/*selector class*/
.batas{
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: green;
}
.warna{
    margin-top: 50px;
    
}
.author{
    margin-top:100px;
    background-color: white;
}
/*selector id*/
#bekground{
    background-color: white;
    padding: 20px;
}
#tipe-sekolah{
    background-color: blue;
}	

