img{
    width: 50%;
}

.border{
    border: 1px solid green ;
}
.wadah{
    width: 25cm;
    margin:auto;
    justify-content: center;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card{
width: 30%;
padding: 7%;
border: 1px solid;
box-sizing: border-box;
}

nav{
    padding-top: 1px;
    padding-bottom: 1px;
    height: 70px;
    background-image: linear-gradient(to top,green,rgb(20, 216, 20),rgb(15, 146, 221));
 color: white;

}
nav h2{
    padding-top: 10px;
    text-align: center;
     margin: 0;
}

nav p{
    margin: 0;
    text-align: center;
}
#artikel3 h2{
    color: green;
    text-align: center;
}
li:hover{
    background-color: green;
    color: aliceblue;
}
h2:hover{
    color: green;
}
.card:target{
    background-color: green;
    color: white;
}
p::first-letter{
    color: green;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

footer:hover{
   background-color: white;
}
.display{
    display:inline-block;
    padding: 10px;
    color: green;
}
    
.horizontal{
    display: flex;
    padding: 20px;
    flex-direction: row;
   justify-content: center;
   gap: 20px;
   color: cornflowerblue;
}
.artikel1{
    background-image: linear-gradient(to top,rgb(16, 211, 16),rgb(18, 128, 192));
    color:white;
    text-align: center;
}
.rata{
    text-align: center;
}

footer{
    background-color:green;
    padding-bottom: 5px;
    height: 60px;
}

footer h2{
   text-align: center;
   padding-top: 20px;
   color :white;
}

@media screen and (max-width: 500px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    .lebar{
        width: 100%;
    }
    .respon{
        display: flex;
        flex-direction: column;
    }
   .tempat{
    width: 80%;
   }
   nav{
    height: 90px;
   }
   ul{
    padding: 10px;
    padding-left: 30px;
   }
}